body {
    background-color: var(--darkest);
}

.mainContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: gray;
}

.text {
    position: absolute;
    white-space: nowrap;
    opacity: 0;
    margin: 10px;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    font-family: var(--font-normal);

}