// Loader.module.scss

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
}

.loader-text {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff;
    opacity: 0;
}

.loader-spinner {
    border: 6px solid #fff;
    border-radius: 50%;
    border-top: 6px solid #fff;
    width: 40px;
    height: 40px;
    opacity: 0;
}

.main-content {
    opacity: 0;
}